<ion-content fullscreen>

  <ion-card>
    <div class="ion-text-center">
      <p>LOGO</p>
    </div>
    <hr />
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userInterface.email" id="email" autocomplete="off"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="userInterface.password" id="password" type="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Sou corretor</ion-label>
      <ion-segment scrollable value="USUARIO" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="USUARIO">
          <ion-label>Quero <br />comprar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="CORRETOR">
          <ion-label>Sou <br />corretor</ion-label>
        </ion-segment-button>
        <ion-segment-button value="IMOBILIARIA">
          <ion-label>Sou <br />imobiliária</ion-label>
        </ion-segment-button>
        <ion-segment-button value="CONSTRUTORA">
          <ion-label>Sou <br />construtora</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <div class="button-center">
      <ion-button (click)="performLogin()" expand="block" color="danger">ENTRAR</ion-button>
    </div>
    <hr />
    <div class="ion-text-center">
      <ion-button (click)="goToRegister()" expand="block" fill="outline" color="tertiary">NÃO TENHO CADASTRO</ion-button>
    </div>
  </ion-card>

</ion-content>

