<ion-slides pager="true">

  <ion-slide>
    <div class="slide">
      <img src="assets/imgs/detail/01.jpg" />
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide">
      <img src="assets/imgs/detail/02.jpg" />
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide">
      <img src="assets/imgs/detail/03.jpeg" />
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide">
      <img src="assets/imgs/detail/04.jpg" />
    </div>
  </ion-slide>

  <ion-slide>
    <div class="slide">
      <img src="assets/imgs/detail/05.jpg" />
    </div>
  </ion-slide>

</ion-slides>
<ion-row>
  <div class="title-detail">
    <ion-label>Casa Modelo 01</ion-label>
  </div>
</ion-row>
<ion-row>
  <ion-col>
    <div class="value-detail">
      <ion-label>R$ 500.000,00</ion-label>
    </div>
  </ion-col>
  <ion-col>
    <ion-button size="small" color="danger">Ver Parcelas</ion-button>
  </ion-col>
</ion-row>

<ion-row>
  <div class="info-detail">
    <p>Descrição da casa como deve ser, com alguns detalhes, informações relevantes para o interessado</p>
  </div>
</ion-row>

<ion-row>
  <ion-list>
    <ion-list-header>
      Detalhes da casa
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Possui isso e aquilo</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Contem mais aquilo também</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <ion-icon name="checkmark-done-outline"></ion-icon>
      </ion-avatar>
      <ion-label>
        <p>Pode ser mudado isso e aquilo</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-row>

<ion-row>
  <div class="button-center">
    <ion-button expand="block" color="danger">Enviar mensagem</ion-button>
  </div>
</ion-row>
