<ion-menu side="start" menuId="first" contentId="main">
  <ion-header style="padding-top: 10px">
    <ion-item lines="none">
      <ion-avatar slot="start">
        <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
      </ion-avatar>
      <ion-label>
        <p>Olá, {{ userInterface === null ? 'Visitante' : userInterface.name }}.</p>
      </ion-label>
    </ion-item>
    <ion-item button detail lines="none" *ngIf="userInterface === null">
      <ion-label (click)="navigateTo('/login')">
        Entre ou Cadastre-se
      </ion-label>
    </ion-item>
    <ion-item button detail lines="none" *ngIf="userInterface !== null">
      <ion-label (click)="performSignOut()">
        Sair
      </ion-label>
    </ion-item>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="userInterface !== null" (click)="navigateTo('/product/register')" button detail>
        <ion-icon slot="start" name="people-outline"></ion-icon>
        <ion-label>Cadastrar imóvel</ion-label>
      </ion-item>
      <ion-item *ngIf="userInterface !== null" button detail>
        <ion-icon slot="start" name="heart-outline"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-item>
      <ion-item button detail>
        <ion-icon slot="start" name="alert-circle-outline"></ion-icon>
        <ion-label>Avisos</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>
