<ion-content fullscreen>

  <ion-card>
    <div class="ion-text-center">
      <p></p>
      <img src="assets/icon/cacacasa.png" width="64" />
    </div>
    <hr />
    <ion-item>
      <ion-label position="floating">Nome</ion-label>
      <ion-input [(ngModel)]="userInterface.name" id="name" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input [(ngModel)]="userInterface.email" id="email" autocomplete="off"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input [(ngModel)]="userInterface.password" id="password" [type]="type"></ion-input>
      <ion-icon slot="end" [name]="passwordIcon" class="passwordIcon" (click)='hideShowPassword()'></ion-icon>
    </ion-item>

    <ion-item>
      <ion-label>Sou corretor</ion-label>
      <ion-segment scrollable value="USUARIO" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="USUARIO">
          <ion-label>Quero <br />comprar</ion-label>
        </ion-segment-button>
        <ion-segment-button value="CORRETOR">
          <ion-label>Sou <br />corretor</ion-label>
        </ion-segment-button>
        <ion-segment-button value="IMOBILIARIA">
          <ion-label>Sou <br />imobiliária</ion-label>
        </ion-segment-button>
        <ion-segment-button value="CONSTRUTORA">
          <ion-label>Sou <br />construtora</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-item>

    <div class="button-center">
      <ion-button (click)="performSign()" expand="block" color="danger">CADASTRAR</ion-button>
    </div>
  </ion-card>

</ion-content>

