<ion-app>
  <ion-content fullscreen>
    <ion-toolbar color="danger">
      <ion-buttons slot="start">
        <ion-button>
          <ion-icon name="home"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" ios="reorder-four-outline" md="reorder-four-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <ion-title>CaçaCasa</ion-title>
    </ion-toolbar>
<!--    <ion-router-outlet></ion-router-outlet>-->
    <router-outlet></router-outlet>
  </ion-content>
</ion-app>
