<ion-content fullscreen>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button>
<!--        <ion-icon name="home"></ion-icon>-->
        <img src="assets/icon/cacacasa.png" width="32" />
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--        <ion-button>-->
      <!--          <ion-icon slot="icon-only" ios="reorder-four-outline" md="reorder-four-outline"></ion-icon>-->
      <!--        </ion-button>-->
      <ion-menu-button color="dark" menu="start" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>CaçaCasa</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-card-content>
      <ion-segment value="BUY_HOUSE" (ionChange)="segmentChanged($event)">
        <ion-segment-button value="BUY_HOUSE">
          <ion-label>COMPRAR <br />CASA</ion-label>
        </ion-segment-button>
        <ion-segment-button value="WANT_SELL">
          <ion-label>QUERO <br />VENDER</ion-label>
        </ion-segment-button>
      </ion-segment>
      <ion-grid>
        <ion-row *ngIf="selectedSegment === 0">
          <ion-item class="item-background-color w-100">
            <ion-label position="floating">Digite a cidade ou bairro da casa</ion-label>
            <ion-input class="input-w100"></ion-input>
          </ion-item>
          <div class="button-center">
            <ion-button expand="block" color="danger" (click)="openList()">VER OFERTAS ({{totalProducts | number}})</ion-button>
          </div>
          <div class="ion-text-center advanced-search-label" (click)="presentModal()">
            <ion-icon name="options-outline" slot="start"></ion-icon>
            <ion-label>
              BUSCA AVANÇADA
            </ion-label>
          </div>
        </ion-row>
        <ion-row *ngIf="selectedSegment == 2">
          <ion-item class="item-background-color w-100">
            <ion-label position="floating">O que você quer vender ?</ion-label>
            <ion-input class="input-w100" disabled></ion-input>
          </ion-item>
          <div class="button-center">
            <ion-button routerLink="/product/register" expand="block" color="danger">ANUNCIAR JÁ</ion-button>
          </div>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

