<ion-content fullscreen>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-button (click)="goToHome()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <!--        <ion-button>-->
      <!--          <ion-icon slot="icon-only" ios="reorder-four-outline" md="reorder-four-outline"></ion-icon>-->
      <!--        </ion-button>-->
      <ion-menu-button color="dark" menu="start" autoHide="false"></ion-menu-button>
    </ion-buttons>

    <ion-title>NOVO IMÓVEL</ion-title>
  </ion-toolbar>
  <ion-card>
    <ion-item>
      <ion-label position="floating">Titulo</ion-label>
      <ion-input [(ngModel)]="userProduct.title" id="title" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="userProduct.description" id="description" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Valor</ion-label>
      <ion-input [(ngModel)]="userProduct.price" (keyup)="moneyConvert($event)" id="price" autocomplete="off"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Estado</ion-label>
      <ion-select value="notifications" interface="action-sheet" [(ngModel)]="userProduct.uf" (ionChange)="populateCities()">
        <ion-select-option value="SP">SP</ion-select-option>
        <ion-select-option value="PR">PR</ion-select-option>
        <ion-select-option value="RG">RG</ion-select-option>
        <ion-select-option value="MG">MG</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item *ngIf="userProduct.uf !== undefined && userProduct.uf.length > 0">
      <ion-label>Cidade</ion-label>
      <ion-select value="notifications" interface="action-sheet" [(ngModel)]="userProduct.city">
        <ion-select-option [value]="city.value" *ngFor="let city of cities">{{city.name}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Tags</ion-label>
      <ion-input id="tags" [(ngModel)]="tmpTag" autocomplete="off"></ion-input>
      <ion-icon slot="end" name="add-circle-outline" class="tagIcon" (click)='addToTags(tmpTag)'></ion-icon>
    </ion-item>
    <ion-item>
      <ion-chip color="success" *ngFor="let tag of tags">
        <ion-label>{{tag}}</ion-label>
      </ion-chip>
    </ion-item>

    <label>Cada imagem selecionada sera enviada automaticamente</label>
    <hr />
    <div class="upload-btn-wrapper button-center">
      <ion-button expand="block" color="secondary">Selecionar imagem</ion-button>
      <input type="file" name="file" (change)="upload($event)" />
    </div>
    <div class="button-center ion-text-center">
      <ion-slides pager="true">

        <ion-slide *ngFor="let slide of tmpImages">
          <div class="slide">
            <img [src]="slide" height="200" />
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <hr />
    <div class="button-center">
      <ion-button (click)="performSaveProduct()" expand="block" color="danger">CADASTRAR</ion-button>
    </div>

  </ion-card>

</ion-content>


