ion-slides {
  max-height: 250px;
}

.title-detail{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 1.0em;
}

.value-detail{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 1.2em;
}

.info-detail{
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  font-size: 0.8em;
}

.bottom{
  position:absolute;
  bottom: 0;
  padding-bottom: 10px;
}

.button-center{
  width: 100%;
  padding-top: 15px
}
