.vertical-center {
  padding-top: 5em;
  padding-left: 1em;
  padding-right: 1em;
}

.mt-3{
  margin-top: 2em;
}

.mt-1{
  margin-top: 1em;
}

.mt-2{
  margin-top: 2em;
}

.msg-corretor{
  text-align: right;
}

.msg-user{
  text-align: left;
}
